.app{
  padding: 5px;
  margin: 5px;
}

ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
}

.albums{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


